:root{
    --negro-netflix:#000000;
    --rojo-netflix: #E50914;
    --blanco-netflix: #FFFFFF;
    --rojo-degradado: #381012;
    --gris-footer: #161616;
    --negro-gradiente: #020000;
}

@font-face {
   font-family: 'NetflixSansLight';
   src: url(fuente/prueba/NetflixSansLight.otf);   
}

@font-face {
    font-family: 'NetflixSansBold';
   src: url(fuente/prueba/NetflixSansBold.otf);
}

@font-face {
    font-family: 'Bebas-neue';
   src: url(fuente/BebasNeue-Regular.woff);
}

body{
    height: 100%;
    background-image: linear-gradient(var(--rojo-degradado) ,var(--negro-gradiente) 60%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'NetflixSansLight';  
    color: var(--blanco-netflix);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#encabezado{
    align-self: flex-start; 
    width: 100%;
    height: 5.625rem;
    border-bottom: solid;
    border-color: #ffffff1d;
    border-width: 1px;    
}


h1{

    font-family: 'Bebas-neue';
    color: var(--rojo-netflix);
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    font-size: 3.45rem;
    padding-left: 11rem;
    padding-top: 1.5625rem;

}

#tituloLogin{
    font-family: 'NetflixSansBold';
    font-size: 32px;
    font-weight: 700;
        line-height: normal;
    text-align: left;

}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    text-align: left;
}
summary{
    
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#infoAdicional{
    font-weight: 400;
    font-size: 13px;
    line-height: normal;
    text-align: left;
}
#contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 724px;
}

#contenidoFormulario{
    width: 420px;
    height: 676px;
    margin-top: 1rem;    
}

.inputText{
    background-color: #1B1212;
    color: #ffffff;
    width: 100%;
    height: 3.5rem;
    padding: auto;
    border: solid;
    border-width: 1px;
    border-color: #625F5F;
    border-radius: 5px;
    margin: top 1rem; 
    margin-bottom: 0.8rem;
}

.boton{
    background-color: #E50914;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 3.5rem;
    font-family: 'NetflixSansBold';
    font-size: 18px;
    color: #FFFFFF;
}




.infoAdicional{
    color: #8A8181;
}
.infoAdicional a{
    color: #FFFFFF;
    text-decoration: none;
}

#masInfo{
    font-size: 13px;
}


#piePagina{
    align-self: flex-start;
    width: 100%; 
    background-color: var(--gris-footer);    
    height: 19rem;
    
    
}
footer{
    margin: 4.5rem auto auto 12rem;
    font-size: 16px;
}

#enlacesFooter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:#FFFFFF
}

#enlacesFooter a{
    font-size: 14px;
    color: #B9B9B9;
}
