   :root {
     background-color: #000;


   }

   body {
     padding-top: 50px;

   }

   .navbar {
     background-color: #000;
   }


   .navbar input::placeholder {
     color: #fff;

   }

   .dropdown-menu {
     position: absolute;
     inset: 0px 0px auto auto;
     margin: 1px;
     transform: translate(68px, 52px);
     width: 400px;
     /* margin-right: 10px; */
     background-color: #000;
     color: #fff;
     border-radius: 10px;
   }

   #usuarios {
     width: 250px;
     /* margin-right: 10px; */
   }

   .dropdown-item {
     color: white;
   }

   .dropdown-item:hover {
     color: black;
     background-color: white;

   }

   .card {
     background-color: #222;
     border: none;
     min-height: 570px;
     min-width: 300px;
     transition: box-shadow 0.3s ease;
   }

   .card:hover {
     box-shadow: rgba(255, 0, 0, 0.39);
   }

   .card img {
     height: 350px;
     object-fit: fill;
   }

   /*    .card-body {
     padding: 10px;
   } */

   .section-title {
     margin: 30px 0 10px;
   }


   .navbar-dark .nav-item .nav-link {
     color: #fff;
   }

   .navbar-dark .nav-item .nav-link:hover {
     background-color: rgba(255, 255, 255, 0.322);
     transition: all 0.3s ease;
     border-radius: 0.25rem;
     color: #fff;
   }

   .fa-li {
     position: relative;
     left: 0;
   }

   .scroll-container {
     overflow-x: auto;
     white-space: nowrap;
     padding-bottom: 1rem;
   }

   .card-scroll {
     display: inline-block;
     width: 250px;
     margin-right: 1rem;
     vertical-align: top;
   }

   /*    .scroll-wrapper {
     overflow-x: auto;
     scrollbar-width: none;
     /* Firefox 
     -ms-overflow-style: none;
      IE 10+ 
   }

   .scroll-wrapper::-webkit-scrollbar {
     display: none;
     /* Chrome, Safari 
   }

   .scroll-wrapper::-webkit-scrollbar {
  height: 8px;
}
.scroll-wrapper::-webkit-scrollbar-track {
  background: #1c1c1c;
}
.scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}
.scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #888;
} */

   /* #peakyimg{
    max-height: 100vh;
   } */
   /* Estilos de preguntas frecuentes (FAQ) */
   .faq .btn {
     width: 100%;
     height: var(--heightBtn);
     background-color: #303030;
     font-size: var(--fontSizeBtn);
     padding-top: 12px;
     text-align: left;
     padding-left: 30px;
     margin-bottom: 10px;
     border-radius: 0px;
   }

   .faq .btn:hover {
     background-color: #494949;
   }

   .faq .card {
     background-color: #303030;
     font-size: 20px;
     color: #fff;
     padding-left: 30px;
     margin-bottom: 20px;
   }

   /* Estilos de pie de página */
   footer {
     background-color: var(--black);
     padding-top: 40px;
     border-top: 8px solid var(--darkGray);
     color: var(--lightGray);
     font-size: 90%;
   }

   footer ul {
     list-style-type: none;
   }

   footer ul li {
     margin-bottom: 10px;
   }

   footer a {
     color: var(--lightGray);
   }

   @media (max-width: 768px) {

     .card {
       background-color: #222;
       border: none;
       min-height: 600px;
       min-width: 270px;
       transition: box-shadow 0.3s ease;
     }

     .scrollable-dropdown {
       max-height: 400px;
       /* Altura máxima visible */
       overflow-y: auto;
       /* Scroll vertical si se excede */
     }

     .row >*{
      width: 100%;
      max-width: 40%;
  
     }



   }